<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/navbar.ejs') %>

  <div class="blogs content">
    <h2>Home</h2>
    <h1>Blogs</h1>
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(b => { %>
      <a class="post-link" href="/blogs/<%= b._id %>">
        <div class="post">
          <div class="top-elements">
            <h3 class="post-title"><%= b.title %></h3>
          </div>
          <p class="post-author">Written by: <%= b.author %></p>
          <p class="post-content"><%= b.content %></p>
        </div>
      </a>
      <% }) %>
    <% } else { %>
      <h3>There are no blogs to display yet!</h3>
    <% } %>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
